.container div {
    display: flex;
    flex-direction: column;
}

.container div h1 {
    font-size: 50px;
    color: rgb(115, 193, 199);
}

.container div h1:hover {
    color: lightblue;
}

.btn {
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid grey;
    color: grey;
}

.btn:hover {
    background-color: darkgray;
}